.main {
  margin-top: 50px;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 162px;
  position: relative;
  z-index: 500;
  perspective: 1000px;
}
.ellipse-main {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  background: #666666;
  filter: blur(250px);
}
.ellipse-main2 {
  position: absolute;
  width: 250px;
  height: 200px;
  bottom: 0px;
  right: 0;
  filter: blur(250px);
  background: rgba(47, 47, 45, 0.8);
  filter: blur(97px);
}
.main__right-bottom,
.card__blocks {
  perspective: 1000px;
}
.main__left {
  position: relative;
  box-shadow: -7px 10px 24px 2px rgba(0, 0, 0, 0.75);
  border: 1px solid grey;
  width: 461px;
  background: #0a0a0d;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 46px;
  background: radial-gradient(
    100% 100% at 100% 100%,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  opacity: 1;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}
.card__block-hover {
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}
.card__block-hover:hover {
  transform: rotateX(5deg) translateY(-4px);
  opacity: 1;
}
.main__left:hover {
  transform: rotateX(5deg) translateY(-4px);
  opacity: 1;
}
.main__left-img2 {
  display: none;
}
.main__left-img {
  z-index: -5000;
}
.main__left-img img {
  width: 100%;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.main__left-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #aaaaaa;
  word-wrap: break-word;
}
.main__left-span {
  display: block;
}
.main__left-bottom {
  position: relative;
  width: 100%;
  z-index: 999;
  min-height: 693px;
}
.main__left-content {
  padding-left: 30px;
  margin-top: -150px;
  opacity: 0;
  animation: ContentFadeIn 0.8s 1.6s forwards;
  max-width: 340px;
  height: 100%;
}
.main__left-text {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin-top: 51px;
  opacity: 1;
  margin-bottom: 51px;
  height: 100%;
  word-wrap: break-word;
}
.main__left-text span {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(
    89.95deg,
    #487fff -1.65%,
    #73b5ff 51.06%,
    #cb76ff 99.96%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main__left {
  perspective: 1000px;
}
.main__btn {
  position: absolute;
  bottom: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background: none;
  color: #aaaaaa;
  border: none;
  cursor: pointer;
  z-index: 800;
}
.main__btn-form {
  margin-top: 50px;
  position: relative;
}
.main__top-blocks {
  display: flex;
  justify-content: space-between;
}
.main__btn-first {
  left: 30px;
}
.main__top-block {
  position: relative;
  margin-left: 40px;
  padding: 30px 46px 37px 30px;
  width: 320px;
  height: 358px;
  background-color: #0a0a0d !important;
  border-radius: 46px;
  border: 1px solid rgb(99, 98, 98);
  background: radial-gradient(
    100% 100% at 100% 100%,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  z-index: 555;
  opacity: 1;
}
.main__top-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #aaaaaa;
}
.main__top-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #ffffff;
  margin: 66px 0 73px 0;
  opacity: 0.9;
}
.main__bottom-block {
  margin-top: 30px;
  width: 676px;
  height: 303px;
  display: flex;
  padding: 0;
  justify-content: space-between;
  background: radial-gradient(
    100% 100% at 100% 100%,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  opacity: 1;
}
.main__bottom-first {
  padding: 30px 27px;
  position: relative;
}
.main__bottom-text {
  max-width: 80%;
}
.main__bottom-img {
  max-width: 328px;
  max-height: 220px;
  padding-top: 10px;
}
.main__bottom-img img {
  width: 100%;
  max-height: 100%;
  padding-top: 10px;
}
@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 1280px) {
  .main__top-block {
    margin-left: 20px;
    width: 260px;
  }
  .main__left-content {
    margin-top: -75px;
  }
  .main__left {
    transform-style: inherit;
  }
  .main__top-text {
    margin: 45px 0 60px 0;
  }
  .main__bottom-block {
    width: 96%;
  }
}
@media (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
  .main__top-blocks {
    flex-direction: column;
  }
  .main__top-block {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    height: 100%;
  }

  .main__left {
    min-width: 100%;
  }
  .main__left-img {
    width: 100%;
  }
  .main__left-content {
    max-width: 500px;
  }
  .main__left-img img {
    max-height: 440px;
    object-fit: cover;
  }
}
@media (max-width: 780px) {
  .main__left {
    width: 100%;
  }
  .main {
    display: flex;
    margin-top: 100px;
  }
  .main__left-content {
    margin-top: -100px;
  }
}
@media (max-width: 550px) {
  .main__left {
    min-width: 80%;
  }
  .main {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
  }
  .card__block {
    min-width: 250px;
  }
  .main__left-content {
    margin-top: -50px;
  }
  .main__top-blocks {
    flex-direction: column;
  }
  .main__top-block {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 510px) {
  .main__left-bottom {
    min-height: 0;
    height: 520px;
  }
  .main__left-text {
    font-weight: 400;
    font-size: 32.2759px;
    line-height: 120%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .main__left-text span {
    font-weight: 400;
    font-size: 32.2759px;
    line-height: 120%;
  }
  .main {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
  }
  .main__left-img {
    display: none;
  }
  .card__block {
    min-width: 250px;
  }
  .main__left-content {
    max-width: 270px;
  }
  .main__top-blocks {
    flex-direction: column;
  }
  .main__top-block {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
  .main__left-content {
    margin-top: 35px;
  }
  .main__left-img2 img {
    width: 100%;
    object-fit: 100%;
  }

  .main__left-img2 {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: -100;
  }
}
@media (max-width: 370px) {
  .main__left-img2 {
    top: 40%;
  }
  .main__left-content {
    height: 30%;
  }
  .main__top-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    margin-top: 40px;
  }
  .main__bottom-text {
    max-width: 100%;
  }
  .main__bottom-first {
    padding: 30px 5px 150px 23px;
  }
  .main__btn-first {
    bottom: 40%;
  }
}
